.custom-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
}

.custom-input:focus {
    border-color: #2563eb;
}