.sidebar{
  width:240px;
  height:100vh;
  background:#111827;
  color:white;
  padding:20px;
  position:fixed;
  left:0;
  top:0;
}

.logo{
  margin-bottom:40px;
}

.logo h2{
  font-size:28px;
}

.nav-links{
  list-style:none;
}

.nav-links li{
  margin:20px 0;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-size:18px;
}

.nav-links a.active{
  color:#3b82f6;
}